*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 2200px;
    margin: auto 30px;
    
}

.banner img{
    width: 100%;
    height: auto;
}
.menu{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background: linear-gradient(to right, 
    lightgreen, red);
    

}
.menu img{
    height: 40px;
    border-radius: 10px;
}
.menu li{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    
}
li:hover{
    color: black;
}
marquee  {
    padding-top: 5px;
    
}
marquee i{
    background:linear-gradient(to right, red, blue, yellow, violet, pink);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: a 5s linear infinite;
    font-size:20px;
}
@keyframes a {
    0%{background-position: 0%;}
    100%{background-position: 100%;}
}
.price{
    border: 5px double rgb(120, 105, 105);
    margin-left: 10px;
    width: 300px;
    height: 260px;
 
}
p{
    margin-left: 10px;
    font-size: 18px;
    padding: 10px;
}
.money{
    color:red;
    margin-right: 5px;
}
.price h3{
    text-align: center;
    width: 80%;
    margin-left: 28px;
    margin-top: 8px;
    background: rgb(240, 112, 112);
    padding: 10px;
    border-radius: 20px 0 20px 0;
    color:cornsilk;

}
.price .combo{
    text-align: center;
    
}
.price{
    width: 441px;
    height: 292px;
    background: white;
}
.product h3{
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(240, 112, 112);
    padding: 10px;
    border-radius: 20px;
    color: cornsilk;
}
.product{
    margin: 10px 0 0 50px;
    width: 100%;
    height: 600px;
    background: white;
}
.product h5{
    margin-left: 20px;
    color: red;
    margin: 10px 0 10px 10px;
}
.album-pomade img{
    width:100%;
    height: auto;
    border-radius: 20px;
    
}
.album-pomade{
    display: flex;
    gap:10px;
    justify-content: space-evenly;
    
    
}
.card{
    padding: 10px;
    background: #9d9090;
    border-radius: 20px;
}

footer{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.left li{
    margin-top: 10px;
}
.right{
    flex-direction: column;
    display: flex;
    
}
.right i{
    margin-top: 10px;
}
main{
    display: flex;
}
.product h5,
.price h5{
    font-size: 18px;
}
/* 📱 MOBILE */
@media (max-width: 768px) {

    form{
        margin: 30 auto;
        height: 1200px;
    }
  /* Body gọn lại */
  body {
    margin: 0 10px;
    height: auto;
    
  }

  /* Menu xuống dòng */
  .menu {
    /* flex-wrap: wrap; */
    /* padding: 10px 0; */
  }

  .menu li {
    width: 50%;
    text-align: start;
    margin: 5px 0;
    font-size: 10px;
    margin-top: 12px;
  }

  .menu img {
    width: 100%;
    height: 35px;
  }

  /* PRICE full màn hình */
  .price {
    width: 100%;
    height: auto;
    margin: 10px 0;
    background: white;
   
  }

  .price p{
    font-size: 12px;
  }
  .price h3{
    font-size: 18px;
    margin-left: 17px;
  }

  /* Chữ nhỏ lại */
  p, h3 {
    font-size: 14px;
    padding: 5px;
  }
  .product{
    background: white;
    height:130px;
    margin: 10px 0 0 20px;
  
  }
  /* Ảnh sản phẩm xếp dọc */
  .album-pomade {
    /* flex-direction: column; */
    align-items: center;
    display: flex;
    /* margin-top: 20px; */
   
  }

  .album-pomade img {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  /* Footer xếp dọc */
  footer {
    /* flex-direction: column; */
    gap: 60px;
    align-items: center;
    padding-top:10px;
    background: white;
    height: 200px;
  }
  
  footer h2{
    font-size: 17px;
    margin-top: 10px;
    
  }
  .menu li:active{
    color:black;
  }
  main{
    display: flex;
  }
  .card{
    padding: 0px;
    background-color: #9d9090;
    border-radius: 0 0 10px 10px;
  }
  .price h5,
  .product h5{
    font-size: 10px;
    font-style: italic;
  }

}